.menu {
  /* height: 20vh; */
  background-color: #4f5b66;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-btn {
  padding: 0.7rem;
  font-size: 1.2rem;
  border: none;
  background-color: #4f5b66;
  color: #00ffb8;
}

.main-btn:hover {
  cursor: pointer;
  background-color: #65737e;
}

@media (max-width: 750px) {
  .menu {
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
