.root {
  --primary-color: #00ffff;
  --secondary-color: #00ffb8;
  --tertiary-color: #001eff;
  --quarternary-color: #7c00ff;
  --quinary-color: #0092ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #a7adba;
}

.array-container {
  height: 95vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.array-bar {
  margin: 0 1px;
  width: 1rem;
  background-color: #00ffb8;
}
